.map-top-container-search {
  position: absolute;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 96%, .9);
  font-family: Raleway, sans-serif;
}

.map-top-search {
  width: 80%;
  margin-right: 20px;
  margin-bottom: 0px;
}

.map-top-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-hide-label {
  opacity: 0;
}

.map-input-search-beds {
  width: 10%;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 16px;
}

.map-select-search-status {
  position: relative;
  width: 10%;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 13px;
}

.map-btn-search {
  width: 7%;
  padding: 14px 30px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}

.map-btn-close-search {
  position: absolute;
  right: 30px;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.map-top-brand {
  width: 10%;
  margin-right: 10px;
}

.map-container {
    width: 100%;
    height: auto;
}

.map-container img {
  max-width: inherit !important;
}

.map-container-map {
  position: relative;
  z-index: 1000;
  font-family: Raleway, sans-serif;
}

.map-container-properties {
  position: absolute;
  top: 130px;
  z-index: 99999;
  overflow: hidden;
  width: 632px;
  padding: 40px 20px;
  background-color: #fff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.map-item-property {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f6f6f6;
}

.map-container-img-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.map-bg-img-property {
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-information-property {
  width: 60%;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.map-link-detail {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

.map-img-property {
  width: 100%;
  opacity: 0;
}

.map-title-property {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}

.map-container-amenities {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.map-item-amenitie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-icon-amenitie {
  width: 50%;
}

.map-number-amenitie {
  width: 50%;
}

.map-text-property {
  margin-bottom: 0px;
}

.map-icon-link-detail {
  width: 5%;
}

.map-btn-close-properties {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.map-container-properties-global {
  overflow: auto;
  max-height: 550px;
  min-height: 550px !important;
}

.map-input-block {
  position: relative;
}

.map-select-amenities {
  height: 48px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 16px;
  text-transform: capitalize;
}

.map-input-selection {
  position: absolute;
  left: 0px;
  top: 55px;
  right: 0px;
  z-index: 9999;
  display: none;
  background-color: #000;
}

.map-input-list {
  margin-bottom: 0px;
  padding: 10px;
  list-style-type: none;
}

.map-input-list-checkbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.map-input-list-checkbox {
  margin-top: 0px;
  margin-right: 10px;
}

.map-search-word {
  width: 20%;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 16px;
}

.map-input-selection-type {
  position: absolute;
  left: 0px;
  top: 55px;
  right: 0px;
  z-index: 9999;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: rgba(0, 0, 0, .9);
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.map-input-selection-amenities {
  position: relative;
  left: 0px;
  top: 8px;
  right: 0px;
  z-index: 9999;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, .9);
}

.map-input-list-type {
  width: 50%;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.map-select-type {
  height: 48px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 16px;
  text-transform: capitalize;
}

.map-select-status {
  height: 48px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 16px;
  text-transform: capitalize;
}

.map-input-list-amenities {
  width: 50%;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.map-select-search-type {
  position: relative;
  width: 20%;
  height: 48px;
  margin-right: 5px;
  border-style: none;
  font-size: 13px;
}

.map-select-search-amenities {
  position: relative;
  width: 20%;
  height: 48px;
  margin-right: 5px;
  border-style: none;
  font-size: 13px;
}

.map-input-search-baths {
  width: 10%;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 0px;
  border-style: none;
  font-size: 16px;
}

.map-input-list-checkbox-label{
  text-transform: capitalize;
}

textarea:focus, input:focus{
  outline: 0;
}

@media (max-width: 1500px) {
  .map-input-list-amenities{
    width: 100%;
  }
}

@media (max-width: 1330px) {
  .map-top-container-search {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .map-top-search {
    width: 100%;
    margin-right: 10px;
  }
  .map-input-search-beds {
    width: 25%;
    margin-right: 0px;
    border-right: 5px solid #f4f4f3;
  }
  .map-input-search-beds:focus {
    border-right: 5px solid #f4f4f3;
  }
  .map-select-search-status {
    width: 50%;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .map-btn-search {
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
  }
  .map-btn-close-search {
    top: 5px;
    right: 5px;
  }
  .map-top-brand {
    display: none;
  }
  .map-search-word {
    width: 50%;
    margin-right: 0px;
    margin-bottom: 5px;
    border-right: 5px solid #f4f4f3;
  }
  .map-search-word:focus {
    border-right: 5px solid #f4f4f3;
  }
  .map-select-type {
    margin-bottom: 5px;
  }
  .map-select-search-type {
    width: 50%;
    margin-right: 0px;
    border-right: 5px solid #f4f4f3;
  }
  .map-select-search-type:focus {
    border-right: 5px solid #f4f4f3;
  }
  .map-select-search-amenities {
    width: 100%;
    margin-top: 5px;
    margin-right: 0px;
  }
  .map-input-search-baths {
    width: 25%;
    margin-right: 0px;
  }

  .map-input-list-amenities{
    width: 50%;
  }
}

@media (max-width: 991px) {

  .map-container-properties {
    top: 110px;
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .map-container-img-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .map-bg-img-property {
    width: 100%;
  }
  .map-information-property {
    width: 100%;
  }
  .map-img-property {
    height: 130px;
  }
  .map-title-property {
    font-size: 18px;
  }
  .map-icon-link-detail {
    width: 10%;
  }
}

@media (max-width: 767px) {
  .map-top-search {
    width: 100%;
    margin-bottom: 10px;
  }
  .map-btn-close-search {
    top: 5px;
    right: 5px;
  }
  .map-container-properties {
    top: 170px;
    width: 200px;
    padding: 30px 10px;
  }
  .map-item-property {
    right: -15px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .map-information-property {
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .map-img-property {
    height: 100px;
  }
  .map-title-property {
    font-size: 14px;
    line-height: 18px;
  }
  .map-item-amenitie {
    width: 33%;
  }
  .map-text-property {
    font-size: 12px;
    line-height: 16px;
  }
  .map-icon-link-detail {
    width: 10%;
  }
  .map-btn-close-properties {
    left: auto;
    top: 5px;
    right: 5px;
    font-size: 15px;
  }
  .map-select-search-amenities {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .map-top-search-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .map-input-search-beds {
    width: 50%;
    margin-right: 0px;
    margin-bottom: 5px;
    border-right-width: 4px;
    text-align: left;
  }
  .map-select-search-status {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .map-btn-search {
    width: 100%;
  }
  .map-container-properties {
    top: 440px;
    width: 80%;
    padding: 30px 15px;
    left: 10%;
  }
  .map-item-property {
    right: 0px;
  }
  .map-img-property {
    height: 200px;
  }
  .map-btn-close-properties {
    top: 5px;
    font-size: 25px;
  }
  .map-search-word {
    width: 100%;
    border-style: none;
  }
  .map-select-search-type {
    width: 100%;
    margin-bottom: 5px;
    border-style: none;
  }
  .map-select-search-amenities {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .map-input-search-baths {
    width: 50%;
    margin-bottom: 5px;
  }
  .map-information-property{
    padding-top: 10px;
  }
}

